<div class="container">
  <div class="profile text-center">
    <div class="stat">
      <div class="stat-content">
        <h3>215</h3>
        <p>Days</p>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3>15</h3>
        <p>Hours</p>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3>57</h3>
        <p>Minutes</p>
      </div>
    </div>

    <div class="stat">
      <div class="stat-content">
        <h3>26</h3>
        <p>Seconds</p>
      </div>
    </div>
  </div>
</div>
