  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'images/teotokos-1.jpg' %>);">
        <div class="card-category">Mass</div>
        <div class="card-description">
          <h2>Santuario Maria Theotokos</h2>
          <p>2:00 PM</p>
        </div>
        <a class="card-link" href="" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'images/campogiallo.jpg' %>);">
        <div class="card-category">Dinner</div>
        <div class="card-description">
          <h2>Campogiallo</h2>
          <p>5:00 PM</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'images/party.jpg' %>);">
        <div class="card-category">Party</div>
        <div class="card-description">
          <h2>Campogiallo</h2>
          <p>10:00 PM</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
