<div class="container text-center">
  <div class="tabs">
    <a href="#" class="tab active disable-click">Travel</a>
    <a href="#" class="tab disable-click">Accomodation</a>
  </div>

  <ul class="inbox">
    <li class="message">
      <img src="images/flight-landing.svg" alt="" class="avatar-lg">
      <div class="message-name">
        <p><strong>Saturday, 23/06/2018</strong></p>
        <p>Between 6am - 11am</p>
      </div>
      <div class="message-body">
        <p><strong>Pisa International Airport</strong></p>
        <p> I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?</p>
        <p> I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?</p>
        <p> I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?</p>
        <p> I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?</p>
      </div>
<!--       <div class="message-status">
        <p class="status pending">Pending</p>
        <p class="price">€345</p>
      </div> -->
    </li>
    <li class="message">
      <img src="images/flight-landing.svg" alt="" class="avatar-lg">
      <div class="message-name">
        <p><strong>Saturday, 23/06/2018</strong></p>
        <p>Between 6am - 11am</p>
      </div>
      <div class="message-body">
        <p><strong>Florence Airport</strong></p>
        <p> I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?</p>
        <p> I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?</p>
      </div>
<!--       <div class="message-status">
        <p class="status pending">Pending</p>
        <p class="price">€345</p>
      </div> -->
    </li>
    <li class="message">
      <img src="images/car.png" alt="" class="avatar-lg">
      <div class="message-name">
        <p><strong>Saturday, 23/06/2018</strong></p>
        <p>Between 6am - 11am</p>
      </div>
      <div class="message-body">
        <p><strong>Address: Via San Vito 28, Figline e Incisa Valdarno FI, Italy</strong></p>
        <p>I’ll be glad to welcome you in my cosy flat in Lille. When are you arriving exactly?</p>
        <p>I’ll be glad to welcome you in my cosy flat in Lille. When are you arriving exactly?</p>
        <p>I’ll be glad to welcome you in my cosy flat in Lille. When are you arriving exactly?</p>
        <p>I’ll be glad to welcome you in my cosy flat in Lille. When are you arriving exactly?</p>
      </div>
<!--       <div class="message-status">
        <p class="status accepted">Accepted</p>
        <p class="price">€345</p>
      </div> -->
    </li>

    <li class="message">
      <img src="images/hotel.png" alt="" class="avatar-lg">
      <div class="message-name">
        <p><strong>Saturday, 23/06/2018</strong></p>
        <p>Between 6am - 11am</p>
      </div>
      <div class="message-body">
        <p><strong>Bigallo Youth Hostel - Hostel Bigallo</strong></p>
        <p><strong>Via del Bigallo e Apparita 14, 50012 Il Bigallo FI, Italy</strong></p>
        <p>I’ll be glad to welcome you in my cosy</p>
        <p>I’ll be glad to welcome you in my cosy</p>
        <p>I’ll be glad to welcome you in my cosy</p>
      </div>
      <div class="message-status">
        <p class="status accepted">Price</p>
        <p class="price">€345</p>
        <p><%= link_to "Visit website", "http://airbnb.com", class: "btn btn-treehouse btn-xs" %></p>

      </div>
    </li>
  </ul>

</div>
