  <div class="container">
    <div class="row">
    <% data.holidays.each do |town| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path town.image %>);">
          <div class="card-description">
            <h2><%= town.name %></h2>
          </div>
          <div class="card-hover">
            <h4><%= town.name %></h4>
            <p><%= town.details %></p>
          </div>
          <a class="card-link disable-click" href="" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
