  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'images/florence.jpg' %>);">
          <div class="card-description">
            <h2>Florence</h2>
          </div>
          <div class="card-hover">
            <h4>Florence</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat error dolorem molestiae et, similique soluta? Necessitatibus culpa ipsam sapiente, mollitia tempora suscipit nemo esse voluptates consectetur sequi, quas, pariatur dicta!</p>
          </div>
          <a class="card-link" href="" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'images/incisa.jpeg' %>);">
          <div class="card-description">
            <h2>Incisa</h2>
          </div>
          <div class="card-hover">
            <h4>Incisa</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat error dolorem molestiae et, similique soluta? Necessitatibus culpa ipsam sapiente, mollitia tempora suscipit nemo esse voluptates consectetur sequi, quas, pariatur dicta!</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'images/pisa.jpg' %>);">
          <div class="card-description">
            <h2>Pisa</h2>
          </div>
          <div class="card-hover">
            <h4>Pisa</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat error dolorem molestiae et, similique soluta? Necessitatibus culpa ipsam sapiente, mollitia tempora suscipit nemo esse voluptates consectetur sequi, quas, pariatur dicta!</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
