.btn-treehouse {
  border-radius: 5px;
  background-color: #6AD58B;
  font-weight: bolder;
  padding: 11px 21px;
  color: white;
}

.btn-treehouse:hover {
  background-color: #3AC162;
  color: white;
}
