  <div class="main-container">
    <div class="container">
      <div class="row">
        <% data.gallery.each do |picture| %>
        <div class="col-xs-12 col-sm-6 col-md-4">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path picture.url %>);">
            <div class="card-category"><%= picture.description %></div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
          <% end %>
      </div>
    </div>
  </div>
